@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Application created by Przemysław Skoneczny.</p>
    <p>Application is using api: <a href="https://funtranslations.com/">Fun Translations</a>.</p>
</div>
