@model SuccessResponse
@{
    ViewData["Title"] = "DetailsSuccess";
}

<h1>Success!</h1>
<hr />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Text</th>
                <th>Language</th>
                <th>Translation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Text</td>
                <td>@Model.Translation</td>
                <td>@Model.Translated</td>
            </tr>
        </tbody>
    </table>
</div>
<p><a asp-action="Index">Back to list</a></p>