@model IEnumerable<Query>
@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<div>
    <p>
        <a asp-action="Translate">Translate your text!</a>
    </p>
</div>


<div>
    <hr />
    <input type="search" id="searchtab" placeholder="Search" />
    <p></p>
    <table class="table table-bordered table-striped" id="table1">
        <thead>
            <tr>
                <th>Call</th>
                <th>Language</th>
                <th>Result</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Call
                </td>
                <td>@item.Translation.Language</td>
                
                @if (item.Success)
                {
                    <td>Success</td>
                }
                else
                {
                    <td>Error</td>
                }

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function ()
    {
        $("#searchtab").on("keyup", function ()
        {
            var datasearch = $(this).val().toLowerCase();
            $("#table1 tr").each(function ()
            {
                var stringdata = $(this).text().toLowerCase();
                if (stringdata.indexOf(datasearch) == -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>